### Import dependencies

In [2]:
import configparser

config = configparser.ConfigParser()
config.read('../../dwh.cfg')

['../../dwh.cfg']

### Connect to redshift

In [4]:
%load_ext sql

HOST = config.get('CLUSTER', 'HOST')
DB_NAME =  config.get('CLUSTER', 'DB_NAME')
DB_USER = config.get('CLUSTER', 'DB_USER')
DB_PASSWORD = config.get('CLUSTER', 'DB_PASSWORD')
DB_PORT = config.get('CLUSTER', 'DB_PORT')

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)

print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://student:Password123@redshift-udacity.cghc1chvqpjb.us-west-2.redshift.amazonaws.com:5439/songdb

'Connected: student@songdb'

In [6]:
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://student:***@redshift-udacity.cghc1chvqpjb.us-west-2.redshift.amazonaws.com:5439/songdb
1 rows affected.

[(333,)]

In [7]:
%sql SELECT * FROM songplays LIMIT 10;

 * postgresql://student:***@redshift-udacity.cghc1chvqpjb.us-west-2.redshift.amazonaws.com:5439/songdb
10 rows affected.

[(4, datetime.datetime(2018, 11, 24, 12, 43), '73', 'paid', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', 692, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (68, datetime.datetime(2018, 11, 30, 10, 42, 9), '36', 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 998, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (132, datetime.datetime(2018, 11, 5, 18, 0, 37), '97', 'paid', 'SOTUWPH12AB017DEBC', 'ARGLI7X1187B9930BB', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (196, datetime.datetime(2018, 11, 29, 16, 0, 1), '49', 'paid', 'SOTNWCI12AAF3B2028', 'ARS54I31187FB46721', 1041, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (260, datetime.datetime(2018, 11, 7, 15, 41, 10), '15', 'paid', 'SOWEUOO12A6D4F6D0C', 'ARQUMH41187B9AF699', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (32, datetime.datetime(2018, 11, 5, 17, 49, 42), '73', 'paid', 'SOHDWWH12A6D4F7F6A', 'ARC0IOF1187FB3F6E6', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (96, datetime.datetime(2018, 11, 9, 14, 50, 53), '15', 'paid', 'SOKMBHF12A58A7ACE4', 'ARQEL841187FB52D01', 362, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (160, datetime.datetime(2018, 11, 17, 17, 42, 29), '83', 'free', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 649, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (224, datetime.datetime(2018, 11, 24, 5, 13, 28), '88', 'paid', 'SOGPESA12AB0180D65', 'AR1K7TQ11C8A414EC8', 888, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (54, datetime.datetime(2018, 11, 13, 20, 20, 44), '29', 'paid', 'SOKUAEP12A8C13BE19', 'ARLLWJQ1187B9B06A7', 556, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [16]:
%%sql
SELECT users.first_name, users.last_name, COUNT(songs.title) as songs_listened
FROM songplays
JOIN songs ON (songplays.song_id = songs.song_id)
JOIN artists ON (songplays.artist_id = artists.artist_id)
JOIN users ON (songplays.user_id = users.user_id)
GROUP BY users.first_name, users.last_name
ORDER BY songs_listened DESC;

 * postgresql://student:***@redshift-udacity.cghc1chvqpjb.us-west-2.redshift.amazonaws.com:5439/songdb
57 rows affected.

[('Chloe', 'Cuevas', 51),
 ('Tegan', 'Levine', 36),
 ('Kate', 'Harrell', 33),
 ('Aleena', 'Kirby', 24),
 ('Jacob', 'Klein', 23),
 ('Mohammad', 'Rodriguez', 18),
 ('Lily', 'Koch', 15),
 ('Matthew', 'Jones', 15),
 ('Layla', 'Griffin', 15),
 ('Jacqueline', 'Lynch', 15),
 ('Jayden', 'Graves', 10),
 ('Emily', 'Benson', 10),
 ('Sara', 'Johnson', 9),
 ('Avery', 'Watkins', 8),
 ('Kinsley', 'Young', 7),
 ('Harper', 'Barrett', 7),
 ('Ava', 'Robinson', 6),
 ('Rylan', 'George', 6),
 ('Colm', 'Santana', 4),
 ('Adler', 'Barrera', 4),
 ('Tucker', 'Garrison', 3),
 ('Anabelle', 'Simpson', 3),
 ('Stefany', 'White', 3),
 ('Kevin', 'Arellano', 3),
 ('Aiden', 'Hess', 3),
 ('Celeste', 'Williams', 3),
 ('Kaylee', 'Summers', 3),
 ('Ryann', 'Smith', 3),
 ('Avery', 'Martinez', 3),
 ('Jizelle', 'Benjamin', 3),
 ('Hayden', 'Brock', 3),
 ('Austin', 'Rosales', 3),
 ('Jaleah', 'Hayes', 2),
 ('Katherine', 'Gay', 2),
 ('Kaleb', 'Cook', 2),
 ('Chloe', 'Roth', 2),
 ('Jayden', 'Fox', 2),
 ('Theodore', 'Smith', 2),
 ('Bronson', 'Harris', 2),
 ('Sylvie', 'Cruz', 1),
 ('Morris', 'Gilmore', 1),
 ('Lily', 'Burns', 1),
 ('Joseph', 'Gutierrez', 1),
 ('Samuel', 'Gonzalez', 1),
 ('Noah', 'Chavez', 1),
 ('Sienna', 'Colon', 1),
 ('Ayleen', 'Wise', 1),
 ('Ayla', 'Johnson', 1),
 ('Ryan', 'Smith', 1),
 ('Cecilia', 'Owens', 1),
 ('Molly', 'Taylor', 1),
 ('Brantley', 'West', 1),
 ('Connar', 'Moreno', 1),
 ('Jayden', 'Bell', 1),
 ('Martin', 'Johnson', 1),
 ('Andrea', 'Butler', 1),
 ('Jordyn', 'Powell', 1)]

In [21]:
%%sql
SELECT CONCAT(users.first_name, users.last_name) as user, songs.title as song, artists.name as artist, time.day, time.month, time.year
FROM songplays
JOIN songs ON (songplays.song_id = songs.song_id)
JOIN artists ON (songplays.artist_id = artists.artist_id)
JOIN users ON (songplays.user_id = users.user_id)
JOIN time ON (songplays.start_time = time.start_time)
LIMIT 10;

 * postgresql://student:***@redshift-udacity.cghc1chvqpjb.us-west-2.redshift.amazonaws.com:5439/songdb
10 rows affected.

[('TeganLevine', 'The Vision', 'Nocturnal Rites', 14, 11, 2018),
 ('ChloeCuevas', 'Passenger 10', 'Passenger 10', 16, 11, 2018),
 ('KateHarrell', 'Possibilities (The Face Of Love Album Version)', 'Sanctus Real', 26, 11, 2018),
 ('KateHarrell', "I CAN'T GET STARTED", 'Ron Carter', 28, 11, 2018),
 ('MohammadRodriguez', "I CAN'T GET STARTED", 'Ron Carter', 27, 11, 2018),
 ('LaylaGriffin', "It's Not Easy (Being Green) (Featuring Pierre Bouvier Of Simple Plan)", 'MC Lars', 28, 11, 2018),
 ('LaylaGriffin', "It's Not Easy (Being Green) (Featuring Pierre Bouvier Of Simple Plan)", 'MC Lars (featuring Jaret Reddick)', 28, 11, 2018),
 ('JordynPowell', 's.Ada.Licht', 'School Of Seven Bells', 29, 11, 2018),
 ('MohammadRodriguez', "What It Ain't", 'Josh Turner', 26, 11, 2018),
 ('HarperBarrett', 'Unwell (Album Version)', 'matchbox twenty', 15, 11, 2018)]